.DS_Store
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
out/
*.xcframework*
.cache/
.tmp/
# ignore build outputs generally
build/

# but keep the binary artifact zip for SwiftPM
!build/wg-go.xcframework.zip
